@import '../../styles/variables';

$switch-border-radius: $border-radius-root !default;
$switch-border-radius-rounded: 1em !default;
$icon-border-opacity: 0.25 !default;
$switch-border-width: 4px !default;
$switch-dense-border-width: medium !default;
$switch-outline: thin solid currentColor !default;