@import '../../styles/variables';

$icon-border-radius: $border-radius-root !default;
$icon-border-opacity: 0.25 !default;
$icon-border-width: 4px !default;
$icon-dense-border-width: medium !default;
$icon-margin: $spacer * 2 !default;
$icon-padding: $spacer * 2 !default;
$icon-dense-padding: $spacer !default;
$icon-outline: thin solid currentColor !default;
$icon-border: $icon-border-width solid currentColor !default;