@import './variables';

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.m-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $primary-color;
    border: none;
    vertical-align: middle;
    border-radius: $icon-border-radius;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 250ms;

    &.rounded {
        border-radius: 2em;
    }

    &.outlined {
        border: $icon-outline;
    }

    &.tile {
        border-radius: 0;
    }

    &.spin {
        animation: spin 1000ms 0s infinite linear;
    }

    &.pulse {
        animation: spin 1000ms 0s infinite steps(8);
    }

    &.flip-horizontal {
        transform: scale(-1, 1);
    }

    &.flip-vertical {
        transform: scale(1, -1);
    }

    &.hover-scale:hover {
        transform: scale(1.3);
    }

    &.hover-spin:hover {
        transform: rotate(90deg);
    }
}