@import './variables';

.m-alert {
    padding: $alert-padding;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
    overflow: hidden;
    border-radius: $alert-border-radius;

    .closer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $alert-dense-padding;

        button {
            border: none;
            cursor: pointer;
            background: none;
        }
    }

    &.dense {
        border-width: $alert-dense-border-width;
        padding: $alert-dense-padding;
    }

    &.rounded {
        border-radius: 2em;
    }

    &.tile {
        border-radius: 0;
    }

    &.outlined {
        border: $alert-outline;
    }

    &.border-left {
        border-left: $alert-border;
    }

    &.border-right {
        border-right: $alert-border;
    }

    &.border-top {
        border-top: $alert-border;
    }

    &.border-bottom {
        border-bottom: $alert-border;
    }
}