@import '../../styles/variables';

$alert-border-radius: $border-radius-root !default;
$alert-border-opacity: 0.25 !default;
$alert-border-width: 2px !default;
$alert-dense-border-width: medium !default;
$alert-dense-padding: $spacer !default;
$alert-padding: $spacer * 2 !default;
$alert-outline: thin solid currentColor !default;
$alert-border: $alert-border-width solid currentColor !default;