@import './variables';

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

.m-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $primary-color;
    border: none;
    vertical-align: middle;
    border-radius: $icon-border-radius;

    &.rounded {
        border-radius: 2em;
    }

    &.outlined {
        border: $icon-outline;
    }

    &.tile {
        border-radius: 0;
    }
}