@import './variables';

.m-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: max-content;
    min-height: 12px;
    border-radius: $button-border-radius;
    border: none;
    padding: $button-padding;
    overflow: hidden;
    transition: all 330ms ease-in-out;

    .m-button__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: 0;
        max-width: 0;
        transition: all 330ms ease-in-out;
        transform: translate(-10px) scale(0);
    }

    .m-button__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &.outlined {
        border: 1px solid;
        background: transparent !important;
    }

    &.tile {
        border-radius: 0;
    }

    &.rounded {
        border-radius: 2em;
    }

    &.bordered {
        box-shadow: #b2b2b2 1px 1px 5px 0px;
    }

    &.block {
        width: 100%;
    }

    &.disabled {
        background: lightgrey !important;
        color: #b2b2b2 !important;
        pointer-events: none;
    }

    &:hover .m-button__icon {
        max-width: 120px;
        transform: translate(0px) scale(1);
        opacity: 1.0;
    }
}