@import './variables';

.m-button {
    display: inline-flex;
    vertical-align: middle;
    flex: 0 0 auto;
    position: relative;
    cursor: pointer;
    width: max-content;
    border-radius: $button-border-radius;
    border: none;
    padding: $button-padding;
    overflow: hidden;
    transition: all ease-in-out 330ms, transform ease-in-out 50ms;

    @include elevation(1);

    .m-button__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: 0;
        max-width: 0;
        transition: all 225ms ease-in-out;
        transform: translate(-10px) scale(0);
    }

    .m-button__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &::before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        color: inherit;
        background-color: currentColor;
        pointer-events: none;
        border-radius: inherit;
        opacity: 0;
        transition: inherit;
    }

    &.outlined {
        border: 1px solid;
        background-color: transparent !important;
    }

    &.tile {
        border-radius: 0;
    }

    &.rounded {
        border-radius: 2em;
    }

    &.block {
        width: 100%;
    }

    &.flat {
        box-shadow: none;
    }

    &.text {
        background-color: transparent !important;
    }

    &:not(.disabled) {
        &:active::before {
            opacity: $button-active-opacity;
        }
    }

    &:not(.fixed) {
        &:active {
            transform: scale($button-active-scale);
        }
    }

    &.disabled {
        color: #b2b2b2 !important;
        pointer-events: none;
        border-color: #b2b2b2 !important;
        background-color: transparent !important;

        &:not(.text+.outlined) {
            background-color: lightgrey !important;
        }
        &:not(.outlined) {
            border: none;
        }
    }

    &:hover .m-button__icon {
        max-width: 120px;
        transform: translate(0px) scale(1);
        opacity: 1.0;
    }

    &:hover::before {
        opacity: $button-hover-opacity;
    }
}